.main {
    font-family: Roboto;
    width: 100%;
    
}
a{
  text-decoration: none;
  color: black;
}
.header {
  margin-top: 5%;
  width: 100%;
  
  & .header__logo{
      @include flexcenter;
  }
  & .header__image_logo {
    margin-bottom: 5%;
    width: 50vw;
  }
  & .header__image{
    width: 100%;
  }
  & input {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(231, 230, 230);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.137);
    &:focus{
        font-size: 4vw;
        font-weight: 500;
    }
    &::placeholder {
      color: rgb(51, 51, 51);
      font-size: 4vw;
      font-weight: 500;
    }
  }
}
.presentation{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    background-color: $background_color;
    width: 100%;
    height: auto;
    padding-bottom: 15%;
    .presentation__titre_principal{
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
        margin: 10% 8% 5% 8%;
    }
    & .presentation__description{
        text-align: center;
        font-size: 5vw;
        font-weight: 300;
        color: rgb(34, 34, 34);
        margin-bottom: 8%;
    }
    & .presentation__btn{
       background: linear-gradient($secondary_color, $primary_color);
       width: 65%;
       height: auto;
       padding: 5%;
       border: none;
       outline: none;
       border-radius: 50px;
       font-size: 1rem;
       font-weight: 600;
       color: white;
    }
}
.fonctionnement{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    & .fonctionnement__titre{
        width: 92%;
        font-size: 6.5vw;
        font-weight: 600;
        margin-bottom: 10%;
        margin-top: 15%;
    }
    & .fonctionnement__btn1{
      @include fonctionnement_btn;
      
    }
    & .fonctionnement__btn2{
      @include fonctionnement_btn;
      
    }
    & .fonctionnement__btn3{
      @include fonctionnement_btn;
      
    }
    & .fonctionnement__pastille{
      @include fonctionnement_btn_pastille;
    }
}
.restaurants{
  @include flexcenter;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10%;
  background-color: $background_color;
  & .restaurants__titre{
      width: 92%;
      font-size: 6.5vw;
      font-weight: 600;
      margin-bottom: 8%;
  }
  /*Card 1 */
  .restaurants__cards1{
    position: relative;
    &::after{
      position: absolute;
      @include flexcenter;
      align-items: center;
      content: "Nouveau";
      color: #3da78c;
      font-size: 1.2rem;
      font-weight: 600;
      width: 100px;
      height: 35px;
      border-radius: 3px;
      background: $tertiary_color;
      top: 5%;
      right: 4%;
    }
    @include restaurants_cards;  
  }
  
    & .restaurants__image1{
      @include restaurants_image(object-position, bottom);
    }
    & .restaurants__cards1__caption{
      @include restaurants_cards_caption;
    }
    & .restaurants__cards1__name{
      @include restaurants_cards_name
    }
    & .restaurants__cards1__location{
      @include restaurants_cards_location
    }
    & .restaurants__heart_full{
      position: relative;
      align-self: center;
      @include flexcenter;
      @include restaurants_cards_heart_icon;
    }
    & .menu__heart_icon{
        @include heart_empty_index
    }
    & .menu__heart_icon_full{
        @include heart_full
    }

  /*Card 2*/
  .restaurants__cards2{
    position: relative;
    &::after{
      position: absolute;
      @include flexcenter;
      align-items: center;
      content: "Nouveau";
      color: #3da78c;
      font-size: 1.2rem;
      font-weight: 600;
      width: 100px;
      height: 35px;
      border-radius: 3px;
      background: $tertiary_color;
      top: 5%;
      right: 4%;
    }
    @include restaurants_cards;
  }
  & .restaurants__image2{
    @include restaurants_image(object-position, 100% 60%);
  }
  & .restaurants__cards2__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards2__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards2__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards2__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
  /*Card 3*/
  .restaurants__cards3{
    @include restaurants_cards;
  }
  & .restaurants__image3{
    @include restaurants_image(object-position, bottom);
  }
  & .restaurants__cards3__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards3__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards3__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards3__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
  /*Card 4*/
  .restaurants__cards4{
    @include restaurants_cards;
  }
  & .restaurants__image4{
    @include restaurants_image(object-position, bottom);
  }
  & .restaurants__cards4__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards4__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards4__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards4__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
}
footer{
  background-color: rgb(48, 48, 48);
  & .footer__titre{
    font-size: 1.4rem;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Shrikhand', cursive;
    color: white;
  }
  & li{
    margin-left: 5%;
    padding-bottom: 3%;
  }
  & li:nth-child(4){
    padding-bottom: 10%;
  }
  & a{
    text-decoration: none;
    color: white;
  }
  & i{
    color: white;
    padding-right: 2%;
  }
  & .footer__icon_ustensils{
    padding-right: 3%;
    padding-left: 1%;
  }
}

/*Loader spinner*/
.lds-grid {
  position: absolute;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: opacity_lds_loader 1.5s;
  & ~ .main{
    animation: opacity_main_loader 1.5s;
  }

  & div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient($secondary_color, $primary_color);
  animation: lds-grid 1.2s linear infinite;
  }
  & div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
  }
  & div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
  }
  & div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
  }
  & div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
  }
  & div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
  }
  & div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
  }
  & div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
  }
  & div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
  }
  & div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
  }
}
