img {
  width: 200px;
  height: auto;
}
.main {
    font-family: Roboto;
  // display: grid;
  // grid-template-columns: auto;
  // grid-template-rows: repeat(5, auto);
}
.header {
  margin: 5% 0;
  width: 100%;
  
  & .header__logo{
      @include flexcenter;
  }
  & img {
    width: 50%;
    margin-bottom: 5%;
  }
  & input {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.137);
    &:focus{
        font-size: 4vw;
        font-weight: 500;
    }
    &::placeholder {
      color: rgb(51, 51, 51);
      font-size: 4vw;
      font-weight: 500;
    }
  }
}
.presentation{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    .presentation__titre_principal{
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
        margin: 1% 8% 5% 8%;
    }
    & .presentation__description{
        text-align: center;
        font-size: 5vw;
        font-weight: 300;
        color: rgb(34, 34, 34);
    }
    & .presentation__btn{
       background: linear-gradient($secondary_color, $primary_color);
       width: 15rem;
       height: 3.5rem;
       border: none;
       outline: none;
       border-radius: 2rem;
       font-size: 4vw;
       font-weight: 600;
       color: white;
       margin-top: 8%;
       margin-bottom: 25%;
    }
}
.fonctionnement{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25%;
    & .fonctionnement__titre{
        text-align: start;
        width: 100%;
        font-size: 6.5vw;
        font-weight: 600;
        margin-left: 8%;
        margin-bottom: 10%;
    }
}