.main {
    font-family: Roboto;
    width: 100vw;
    
}
.header {
  margin-top: 5%;
  width: 100%;
  
  & .header__logo{
      @include flexcenter;
      flex-direction: column;
      align-items: center;
  }
  & .header__image_logo {
    width: 50%;
    margin-bottom: 5%;
  }
  & .header__image{
    width: 100%;
  }
  & input {
    width: 100%;
    padding: 4% 0;
    text-align: center;
    border: none;
    outline: none;
    background-color: rgb(231, 230, 230);
    box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.137);
    &:focus{
        font-size: 4vw;
        font-weight: 500;
    }
    &::placeholder {
      color: rgb(51, 51, 51);
      font-size: 4vw;
      font-weight: 500;
    }
  }
}
.presentation{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    background-color: $background_color;
    width: 100%;
    height: auto;
    padding-bottom: 25%;
    .presentation__titre_principal{
        text-align: center;
        font-size: 7vw;
        font-weight: 700;
        margin: 10% 8% 5% 8%;
    }
    & .presentation__description{
        text-align: center;
        font-size: 5vw;
        font-weight: 300;
        color: rgb(34, 34, 34);
        margin-bottom: 8%;
    }
    & .presentation__btn{
       background: linear-gradient($secondary_color, $primary_color);
       width: 15rem;
       height: 3.5rem;
       border: none;
       outline: none;
       border-radius: 2rem;
       font-size: 4vw;
       font-weight: 600;
       color: white;
    }
}
.fonctionnement{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15%;
    & .fonctionnement__titre{
        width: 100%;
        font-size: 6.5vw;
        font-weight: 600;
        margin-left: 8%;
        margin-bottom: 10%;
    }
    & .fonctionnement__btn1{
      @include fonctionnement_btn;
      
    }
    & .fonctionnement__btn2{
      @include fonctionnement_btn;
      
    }
    & .fonctionnement__btn3{
      @include fonctionnement_btn;
      
    }
}
.restaurants{
  @include flexcenter;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10%;
  background-color: $background_color;
  & .restaurants__titre{
      width: 100%;
      font-size: 6.5vw;
      font-weight: 600;
      margin-left: 8%;
      margin-bottom: 8%;
  }
  /*Card 1 */
  .restaurants__cards1{
    @include restaurants_cards;
  }
  & .restaurants__image1{
    @include restaurants_image(object-position, bottom);
  }
  & .restaurants__cards1__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards1__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards1__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards1__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
  /*Card 2*/
  .restaurants__cards2{
    @include restaurants_cards;
  }
  & .restaurants__image2{
    @include restaurants_image(object-position, 100% 60%);
  }
  & .restaurants__cards2__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards2__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards2__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards2__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
  /*Card 3*/
  .restaurants__cards3{
    @include restaurants_cards;
  }
  & .restaurants__image3{
    @include restaurants_image(object-position, bottom);
  }
  & .restaurants__cards3__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards3__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards3__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards3__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
  /*Card 4*/
  .restaurants__cards4{
    @include restaurants_cards;
  }
  & .restaurants__image4{
    @include restaurants_image(object-position, bottom);
  }
  & .restaurants__cards4__caption{
    @include restaurants_cards_caption;
  }
  & .restaurants__cards4__name{
    @include restaurants_cards_name
  }
  & .restaurants__cards4__location{
    @include restaurants_cards_location
  }
  & .restaurants__cards4__heart_icon{
    @include flexcenter;
    @include restaurants_cards_heart_icon
  }
}
footer{
  background-color: rgb(48, 48, 48);
  & .footer__titre{
    font-size: 1.4rem;
    margin-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: 'Shrikhand', cursive;
    color: white;
  }
  & li{
    margin-left: 5%;
    padding-bottom: 3%;
  }
  & li:nth-child(4){
    padding-bottom: 10%;
  }
  & a{
    text-decoration: none;
    color: white;
  }
  & i{
    color: white;
    padding-right: 2%;
  }
  & .footer__icon_ustensils{
    padding-right: 3%;
    padding-left: 1%;
  }
}