.header__menus{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    & .header__menus_arrow{
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.692);
    }
    & .header__link{
        justify-self: center;
    }
    & .header__menus_image_logo{
        grid-column: 2 / 3;
        justify-self: center;
        width: 50vw;
        margin-bottom: 5%;
    }
    
}
.header__menus_image{
    width: 100%;
}
.menus{
    background-color: $background_color;
    & .menus__titre{
        display: grid;
        align-items: center;
        grid-template-columns: 80% 20%;
        transform: translateY(-60%);
        background-color: rgb(235, 235, 235);
        width: 100%;
        height: 6%;
        padding-top: 45px;
        border-radius: 35px 35px 0 0;
    }
    & .heart_full{
        position: relative;
    }
    & .menus__titre_h1{
        font-family: $font_shrikhand;
        font-size: 1.8rem;
        margin-left: 5%;
    }
    & .menu__heart_icon{
        @include heart_empty;
        @include heart_empty_desktop;
    }
    & .menu__heart_icon_full{
        @include heart_full;
        @include heart_full_desktop;
    }
}
/*Entrée Titre*/
.entrees{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .entrees__titre{
        
        font-weight: 500;
        color: rgba(0, 0, 0, 0.637);
        margin-bottom: 5%;
        text-align: start;
        width: 94%;
        &::after{
            content: "";
            border-bottom: $tertiary_color 3px solid;
            display: block;
            width: 45px;
            padding-bottom: 5px;
        }   
    }
    /*Entrée 1*/
    & .entrees__entrees_1{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .7s forwards;
        animation-delay: .1s;
        &:focus .entrees__anim_price_1{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_1{
            transform: translateX(-60px)
        }
        &:focus .entrees__icon_price_1{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .entrees__description_1{
            width: 80%;
        }
    }
    & .entrees__nom_principal_1{
        @include menu__nom_principal;
    }
    & .entrees__description_1{
        @include menu__description;
    }
    & .entrees__price_1{
        @include menu_price
    }
    & .entrees__anim_price_1{
        @include menu__anim_price
    }
    & .entrees__icon_price_1{
        @include menu__icon_price
    }
    /*Entrée 2*/
    & .entrees__entrees_2{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .2s;
        &:focus .entrees__anim_price_2{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_2{
            transform: translateX(-60px)
        }
        &:focus .entrees__icon_price_2{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .entrees__description_2{
            width: 80%;
        }
    }
    & .entrees__nom_principal_2{
        @include menu__nom_principal;
    }
    & .entrees__description_2{
        @include menu__description;
    }
    & .entrees__price_2{
        @include menu_price
    }
    & .entrees__anim_price_2{
        @include menu__anim_price
    }
    & .entrees__icon_price_2{
        @include menu__icon_price
    }
    /*Entrée 3*/
    & .entrees__entrees_3{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .3s;
        &:focus .entrees__anim_price_3{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_3{
            transform: translateX(-60px);
        }
        &:focus .entrees__icon_price_3{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .entrees__description_3{
            width: 80%;
        }
    }
    & .entrees__nom_principal_3{
        @include menu__nom_principal;
    }
    & .entrees__description_3{
        @include menu__description;
    }
    & .entrees__price_3{
        @include menu_price
    }
    & .entrees__anim_price_3{
        @include menu__anim_price
    }
    & .entrees__icon_price_3{
        @include menu__icon_price
    }
    & .entrees__entrees_4{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: 350ms;
        &:focus .entrees__anim_price_4{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_4{
            transform: translateX(-60px);
        }
        &:focus .entrees__icon_price_4{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .entrees__description_4{
            width: 80%;
        }
    }
    & .entrees__nom_principal_4{
        @include menu__nom_principal;
    }
    & .entrees__description_4{
        @include menu__description;
    }
    & .entrees__price_4{
        @include menu_price
    }
    & .entrees__anim_price_4{
        @include menu__anim_price
    }
    & .entrees__icon_price_4{
        @include menu__icon_price
    }
}
/*Plats Titre*/
.plats{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .plats__titre{
        @include menu__titre;
        padding-top: 15px;
    }
    /*Plat 1*/
    & .plats__plats_1{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .4s;
        &:focus .plats__anim_price_1{
            margin-left: 0;
            width: 100%;
        }
        &:focus .plats__price_1{
            transform: translateX(-60px);
        }
        &:focus .plats__icon_price_1{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .plats__description_1{
            width: 80%;
        }
    }
    & .plats__nom_principal_1{
        @include menu__nom_principal;
    }
    & .plats__description_1{
        @include menu__description;
    }
    & .plats__price_1{
        @include menu_price;
    }
    & .plats__anim_price_1{
        @include menu__anim_price
    }
    & .plats__icon_price_1{
        @include menu__icon_price
    }
    /*Plat 2*/
    & .plats__plats_2{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .5s;
        &:focus .plats__anim_price_2{
            margin-left: 0;
            width: 100%;
        }
        &:focus .plats__price_2{
            transform: translateX(-60px);
        }
        &:focus .plats__icon_price_2{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .plats__description_2{
            width: 80%;
        }
    }
    & .plats__nom_principal_2{
        @include menu__nom_principal;
    }
    & .plats__description_2{
        @include menu__description;
    }
    & .plats__price_2{
        @include menu_price;
    }
    & .plats__anim_price_2{
        @include menu__anim_price
    }
    & .plats__icon_price_2{
        @include menu__icon_price
    }
    /*Plat 3*/
    & .plats__plats_3{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .6s;
        &:focus .plats__anim_price_3{
            margin-left: 0;
            width: 100%;
        }
        &:focus .plats__price_3{
            transform: translateX(-60px);
        }
        &:focus .plats__icon_price_3{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .plats__description_3{
            width: 80%;
        }
    }
    & .plats__nom_principal_3{
        @include menu__nom_principal;
    }
    & .plats__description_3{
        @include menu__description;
    }
    & .plats__price_3{
        @include menu_price;
    }
    & .plats__anim_price_3{
        @include menu__anim_price
    }
    & .plats__icon_price_3{
        @include menu__icon_price
    }
}
/*Desserts Titre*/
.desserts{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .desserts__titre{
        @include menu__titre;
        padding-top: 15px;
    }
    /*Dessert 1*/
    & .desserts__desserts_1{
        animation: menu_1 .8s forwards;
        animation-delay: .7s;
        @include menu__entrees;
        @include menu__entrees_tablet;
        &:focus .desserts__anim_price_1{
            margin-left: 0;
            width: 100%;
        }
        &:focus .desserts__price_1{
            transform: translateX(-60px);
        }
        &:focus .desserts__icon_price_1{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .desserts__description_1{
            width: 80%;
        }
    }
    & .desserts__nom_principal_1{
        @include menu__nom_principal;
    }
    & .desserts__description_1{
        @include menu__description;
    }
    & .desserts__price_1{
        @include menu_price;
    }
    & .desserts__anim_price_1{
        @include menu__anim_price
    }
    & .desserts__icon_price_1{
        @include menu__icon_price
    }
    /*Dessert 2*/
    & .desserts__desserts_2{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .8s;
        &:focus .desserts__anim_price_2{
            margin-left: 0;
            width: 100%;
        }
        &:focus .desserts__price_2{
            transform: translateX(-60px);
        }
        &:focus .desserts__icon_price_2{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .desserts__description_2{
            width: 80%;
        }
    }
    & .desserts__nom_principal_2{
        @include menu__nom_principal;
    }
    & .desserts__description_2{
        @include menu__description;
    }
    & .desserts__price_2{
        @include menu_price;
    }
    & .desserts__anim_price_2{
        @include menu__anim_price
    }
    & .desserts__icon_price_2{
        @include menu__icon_price
    }
    /*Dessert 3*/
    & .desserts__desserts_3{
        @include menu__entrees;
        @include menu__entrees_tablet;
        animation: menu_1 .8s forwards;
        animation-delay: .9s;
        &:focus .desserts__anim_price_3{
            margin-left: 0;
            width: 100%;
        }
        &:focus .desserts__price_3{
            transform: translateX(-60px);
        }
        &:focus .desserts__icon_price_3{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .desserts__description_3{
            width: 80%;
        }
    }
    & .desserts__nom_principal_3{
        @include menu__nom_principal;
    }
    & .desserts__description_3{
        @include menu__description;
    }
    & .desserts__price_3{
        @include menu_price;
    }
    & .desserts__anim_price_3{
        @include menu__anim_price
    }
    & .desserts__icon_price_3{
        @include menu__icon_price
    }
}
/*Bouton Commander*/
.bloc_btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.commander__btn{
    @include main_btn;
    @include main_btn_desktop;
    @include flexcenter;
    cursor: pointer;
    align-items: center;
    margin: 10% 0;
    transition: 0.3s ease-in-out;
    &:hover{
        transform: scale(1.02);
        transition: 0.3s ease-in;
    }
}
.header__menus--resize{
    width: 100%;
    height: 35vh;
    object-fit: cover;
    
}

@media screen and (min-width: 1024px){
    .header__menus{
        & .header__menus_image_logo{
            width: 25%;
        }
        & .header__menus_arrow{
            font-size: 2rem;
        }
    }
    .header__menus_image{
        height: 45vh;
        object-fit: cover;
        object-position: 100% 65%;
    }
    .menus{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        & .menus__titre_h1{
            font-size: 2.5rem;
        }
    }
    .entrees{
        width: 25%;
    }
    .plats{
        width: 25%;
    }
    .desserts{
        width: 25%;
    }
    .commander__btn{
        margin: 5% 0;
    }
}