.header__menus{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    & .header__menus_arrow{
        font-size: 1.4rem;
        color: rgba(0, 0, 0, 0.692);
    }
    & .header__link{
        justify-self: center;
    }
    & .header__menus_image_logo{
        grid-column: 2 / 3;
        justify-self: center;
        width: 50vw;
        margin-bottom: 5%;
    }
    
}
.header__menus_image{
    width: 100%;
}
.menus{
    background-color: $background_color;
    & .menus__titre{
        display: grid;
        align-items: center;
        grid-template-columns: 80% 20%;
        transform: translateY(-60%);
        background-color: rgb(235, 235, 235);
        width: 100%;
        height: 6%;
        padding-top: 45px;
        border-radius: 35px 35px 0 0;
    }
    & .menus__titre_h1{
        font-family: $font_shrikhand;
        font-size: 1.8rem;
        margin-left: 5%;
    }
    & .menu__heart_icon{
        font-size: 1.5rem;
        color: rgba(0, 0, 0, 0.425);
    }
}
.entrees{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .entrees__titre{
        margin-left: 6%;
        font-weight: 500;
        color: rgba(0, 0, 0, 0.637);
        margin-bottom: 5%;
        text-align: start;
        width: 100%;
        &::after{
            content: "";
            border-bottom: $tertiary_color 3px solid;
            display: block;
            width: 45px;
            padding-bottom: 5px;
        }   
    }
    & .entrees__entrees_1{
        display: grid;
        grid-template-columns: 80% 20%;
        width: 90%;
        box-shadow: $box_shadow;
        border-radius: 15px;
        margin-bottom: 5%;
        cursor: pointer;
        outline: none;
        overflow: hidden;
        &:focus .entrees__anim_price_1{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_1{
            transform: translateX(-60px)
        }
        &:focus .entrees__icon_price_1{
            transform: scale(1);
            transform: rotate(1);
        }
    }
    & .entrees__nom_principal_1{
        padding: 15px 0 10px 10px;
        font-size: 1.1rem;
        font-weight: 600;
    }
    & .entrees__description_1{
        grid-row: 2 / 3;
        padding: 0 0 15px 10px;
    }
    & .entrees__price_1{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        text-align: center;
        font-weight: 600;
        transform: translateX(1);
        transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
    }
    & .entrees__anim_price_1{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        height: 100%;
        width: 0;
        margin-left: 50px;
        border-radius: 0 15px 15px 0;
        background-color: $tertiary_color;
        transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
    }
    & .entrees__icon_price_1{
        width: 100%;
        height: 100%;
        color: white;
        font-size: 1.5rem;
        @include flexcenter;
        align-items: center;
        transform: scale(0) rotate(180deg);
        transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
    }
    /*Entrée 2*/
    & .entrees__entrees_2{
        @include menu__entrees;
        &:focus .entrees__anim_price_2{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_2{
            transform: translateX(-60px)
        }
        &:focus .entrees__icon_price_2{
            transform: scale(1);
            transform: rotate(1);
        }
    }
    & .entrees__nom_principal_2{
        @include menu__nom_principal;
    }
    & .entrees__description_2{
        @include menu__description;
    }
    & .entrees__price_2{
        @include menu_price
    }
    & .entrees__anim_price_2{
        @include menu__anim_price
    }
    & .entrees__icon_price_2{
        @include menu__icon_price
    }
    /*Entrée 3*/
    & .entrees__entrees_3{
        @include menu__entrees;
        &:focus .entrees__anim_price_3{
            margin-left: 0;
            width: 100%;
        }
        &:focus .entrees__price_3{
            transform: translateX(-60px);
        }
        &:focus .entrees__icon_price_3{
            transform: scale(1);
            transform: rotate(1);
        }
        &:focus .entrees__description_3{
            width: 80%;
        }
    }
    & .entrees__nom_principal_3{
        @include menu__nom_principal;
    }
    & .entrees__description_3{
        @include menu__description;
    }
    & .entrees__price_3{
        @include menu_price
    }
    & .entrees__anim_price_3{
        @include menu__anim_price
    }
    & .entrees__icon_price_3{
        @include menu__icon_price
    }
}
.plats{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .plats__titre{
        @include menu__titre;
        padding-top: 15px;
    }
    /*Plat 1*/
    & .plats__plats_1{
        @include menu__entrees;
    }
    & .plats__nom_principal_1{
        @include menu__nom_principal;
    }
    & .plats__description_1{
        @include menu__description;
    }
    & .plats__price_1{
        @include menu_price;
    }
    /*Plat 2*/
    & .plats__plats_2{
        @include menu__entrees;
    }
    & .plats__nom_principal_2{
        @include menu__nom_principal;
    }
    & .plats__description_2{
        @include menu__description;
    }
    & .plats__price_2{
        @include menu_price;
    }
    /*Plat 3*/
    & .plats__plats_3{
        @include menu__entrees;
    }
    & .plats__nom_principal_3{
        @include menu__nom_principal;
    }
    & .plats__description_3{
        @include menu__description;
    }
    & .plats__price_3{
        @include menu_price;
    }
}
.desserts{
    @include flexcenter;
    flex-direction: column;
    align-items: center;
    & .desserts__titre{
        @include menu__titre;
        padding-top: 15px;
    }
    /*Dessert 1*/
    & .desserts__desserts_1{
        @include menu__entrees;
    }
    & .desserts__nom_principal_1{
        @include menu__nom_principal;
    }
    & .desserts__description_1{
        @include menu__description;
    }
    & .desserts__price_1{
        @include menu_price;
    }
    /*Dessert 2*/
    & .desserts__desserts_2{
        @include menu__entrees;
    }
    & .desserts__nom_principal_2{
        @include menu__nom_principal;
    }
    & .desserts__description_2{
        @include menu__description;
    }
    & .desserts__price_2{
        @include menu_price;
    }
    /*Dessert 3*/
    & .desserts__desserts_3{
        @include menu__entrees;
    }
    & .desserts__nom_principal_3{
        @include menu__nom_principal;
    }
    & .desserts__description_3{
        @include menu__description;
    }
    & .desserts__price_3{
        @include menu_price;
    }
}
.bloc_btn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.commander__btn{
    @include main_btn;
    @include flexcenter;
    align-items: center;
    margin: 10% 0;
}