/*Flex-centre*/ /*@include*/
@mixin flexcenter{
    display: flex;
    justify-content: center;
}

@mixin fonctionnement_btn{
      position: relative;
      @include flexcenter;
      margin-left: 5%;
      width: 65%;
      padding: 5% 12% 5% 9%;
      font-size: 4.4vw;
      font-weight: 600;
      border-radius: 1rem;
      box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.30);
      & p{
          width: 80%;
      }
      & i{
        margin-right: 15%;
        color: rgba(0, 0, 0, 0.575);
        font-size: 5vw;
      }
}

@mixin fonctionnement_btn_pastille{
    &::before{
        position: absolute;
        content: "1";
        transform: translateX(-75px);
        width: 25px;
        height: 20px;
        padding-top: 5px;
        border-radius: 50%;
        font-size: 15px;
        background-color: $primary_color;
        color: white;
        font-weight: 400;
    }
}