/*Flex-centre*/ /*@include*/
@mixin flexcenter{
    display: flex;
    justify-content: center;
}
@mixin main_btn{
    background: linear-gradient($secondary_color, $primary_color);
       width: 15rem;
       height: 3.5rem;
       border: none;
       outline: none;
       border-radius: 2rem;
       font-size: 4vw;
       font-weight: 600;
       color: white;
}
@mixin fonctionnement_btn{
      position: relative;
      @include flexcenter;
      align-items: center;
      margin-left: 5%;
      margin-bottom: 5%;
      width: 65%;
      height: auto;
      padding: 5% 12% 5% 9%;
      font-size: 4.4vw;
      font-weight: 600;
      border-radius: 1rem;
      box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.30);
      & p{
          width: 80%;
      }
      & i{
        margin-right: 15%;
        color: rgba(0, 0, 0, 0.575);
        font-size: 5vw;
      }
}

@mixin fonctionnement_btn_pastille{
      position: absolute;
      width: 4%;
      height: auto;
      padding: 2%;
      padding-bottom: 1.1%;
      border-radius: 50%;
      background-color: $primary_color;
      color: white;
      font-weight: 400;
      text-align: center;
      left: 0;
      transform: translateX(-45%);
}
@mixin restaurants_cards{
    margin-bottom: 10%;
    box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.30);
    border-radius: 0 0 15px 15px;
    background-color: white;
}

@mixin restaurants_image($position, $valeur){
    border-radius: 15px 15px 0 0;
    width: 90vw;
    height: 25vh;
    object-fit: cover;
    #{$position}: $valeur;
}

@mixin restaurants_cards_caption{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
    width: 90vw;
    height: 8vh;
}

@mixin restaurants_cards_name{
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 3%;
    font-size: 1.1rem;
}
@mixin restaurants_cards_location{
    padding-left: 3%;
}
@mixin restaurants_cards_heart_icon{
    align-items: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    font-size: 1.5rem;
}
@mixin menu__titre{
    margin-left: 6%;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.637);
    margin-bottom: 5%;
    text-align: start;
    width: 100%;
    &::after{
        content: "";
        border-bottom: $tertiary_color 3px solid;
        display: block;
        width: 45px;
        padding-bottom: 5px;
    }
}
@mixin menu__entrees{
    display: grid;
    grid-template-columns: 80% 20%;
    width: 90%;
    box-shadow: $box_shadow;
    border-radius: 15px;
    margin-bottom: 5%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    opacity: 0;
}
@mixin menu__nom_principal{
    padding: 15px 0 10px 10px;
    font-size: 1.1rem;
    font-weight: 600;
}
@mixin menu__description{
    grid-row: 2 / 3;
    padding: 0 0 15px 10px;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
@mixin menu_price{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
    font-weight: 600;
    transform: translateX(1);
    transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
@mixin menu__anim_price{
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    height: 100%;
    width: 0;
    margin-left: 50px;
    border-radius: 0 15px 15px 0;
    background-color: $tertiary_color;
    transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
@mixin menu__icon_price{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1.5rem;
    @include flexcenter;
    align-items: center;
    transform: scale(0) rotate(180deg);
    transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
