/*General*/
@mixin fonctionnement_btn_desktop{
    @media screen and (min-width: 1024px){
      position: relative;
      @include flexcenter;
      align-items: center;
      margin-left: 0;
      margin-bottom: 5%;
      width: 25%;
      height: auto;
      padding: 15px 20px;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 1rem;
      box-shadow: 0px 5px 14px -4px rgba(0,0,0,0.30);
      & p{
          width: 80%;
          text-align: center;
      }
      & i{
        margin-right: 5%;
        color: rgba(0, 0, 0, 0.575);
        font-size: 1.5rem;
        text-align: center;
      }
    }
}
  
  @mixin fonctionnement_btn_pastille_desktop{
    @media screen and (min-width: 1024px){
      position: absolute;
      width: 30px;
      height: auto;
      padding: 0px;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 50%;
      background-color: $primary_color;
      color: white;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: center;
      left: 0;
      transform: translateX(-45%);
    }
  }
  
  @mixin restaurants_image_desktop($position, $valeur){
    @media screen and (min-width: 1024px){
      border-radius: 15px 15px 0 0;
      width: 100%;
      height: 25vh;
      object-fit: cover;
      #{$position}: $valeur;
    }
  }
  
  @mixin restaurants_cards_caption_desktop{
    @media screen and (min-width: 1024px){
      display: grid;
      grid-template-columns: 80% 20%;
      grid-template-rows: 50% 50%;
      width: 100%;
      height: 8vh;
    }
  }

/*Menus*/

@mixin heart_empty_desktop{
  @media screen and (min-width: 1024px){
    display: block;
    margin-left: 50%;
    font-size: 2rem;
    color: rgba(0, 0, 0, 0.425);
    cursor: pointer;
    &:focus{
        opacity: 0;
    }
    &:focus ~ .menu__heart_icon_full{
        animation: heart_full 0.5s;
        transform: scale(1);
    }
  }
}

@mixin heart_full_desktop{
  @media screen and (min-width: 1024px){
    position: absolute;
    margin-left: 50%;
    background:-moz-linear-gradient($secondary_color, $primary_color); 
    background: -webkit-linear-gradient($secondary_color, $primary_color); 
    background: linear-gradient($secondary_color, $primary_color);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color:transparent;
    font-size: 2rem;
    top: 0;
    transform: scale(0);
  }
}

@mixin main_btn_desktop{
  @media screen and (min-width: 1024px){
    background: linear-gradient($secondary_color, $primary_color);
    width: 15rem;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
}