/*Couleurs*/
$primary_color: #9356DC;
$secondary_color: #FF79DA;
$tertiary_color: #99E2D0;
$background_color: rgb(235, 235, 235);

/*Font-Family*/
$font_shrikhand: Shrikhand;

/*Box Shadow*/
$box_shadow: 0px 5px 14px -4px rgba(0,0,0,0.30);