/*Couleurs*/
/*Flex-centre*/
/*@include*/
.main {
  font-family: Roboto;
  width: 100vw;
}

.header {
  margin-top: 5%;
  width: 100%;
}
.header .header__logo {
  display: flex;
  justify-content: center;
}
.header img {
  width: 50%;
  margin-bottom: 5%;
}
.header input {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  border: none;
  outline: none;
  background-color: #e7e6e6;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.137);
}
.header input:focus {
  font-size: 4vw;
  font-weight: 500;
}
.header input::placeholder {
  color: #333333;
  font-size: 4vw;
  font-weight: 500;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(228, 228, 228, 0.486);
  width: 100%;
  height: auto;
  padding-bottom: 25%;
}
.presentation .presentation__titre_principal {
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  margin: 10% 8% 5% 8%;
}
.presentation .presentation__description {
  text-align: center;
  font-size: 5vw;
  font-weight: 300;
  color: #222222;
  margin-bottom: 8%;
}
.presentation .presentation__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 15rem;
  height: 3.5rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 4vw;
  font-weight: 600;
  color: white;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.fonctionnement .fonctionnement__titre {
  width: 100%;
  font-size: 6.5vw;
  font-weight: 600;
  margin-left: 8%;
  margin-bottom: 10%;
}
.fonctionnement .fonctionnement__btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn1 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn1 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}
.fonctionnement .fonctionnement__btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn2 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn2 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}
.fonctionnement .fonctionnement__btn3 {
  position: relative;
  display: flex;
  justify-content: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn3 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn3 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}

.restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10%;
  background-color: rgba(228, 228, 228, 0.486);
  /*Card 1 */
  /*Card 2*/
  /*Card 3*/
  /*Card 4*/
}
.restaurants .restaurants__titre {
  width: 100%;
  font-size: 6.5vw;
  font-weight: 600;
  margin-left: 8%;
  margin-bottom: 8%;
}
.restaurants .restaurants__cards1 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image1 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards1__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards1__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards1__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards1__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .restaurants__cards2 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image2 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: 100% 60%;
}
.restaurants .restaurants__cards2__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards2__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards2__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards2__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .restaurants__cards3 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image3 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards3__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards3__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards3__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards3__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .restaurants__cards4 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image4 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards4__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards4__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards4__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards4__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}

footer {
  background-color: #303030;
}
footer .footer__titre {
  font-size: 1.4rem;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer li {
  margin-left: 5%;
  padding-bottom: 3%;
}
footer li:nth-child(4) {
  padding-bottom: 10%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  color: white;
  padding-right: 2%;
}
footer .footer__icon_ustensils {
  padding-right: 3%;
  padding-left: 1%;
}

/*# sourceMappingURL=main.css.map */
