@charset "UTF-8";
/*Couleurs*/
/*Font-Family*/
/*Box Shadow*/
/*Flex-centre*/
/*@include*/
/*Coeur*/
.main {
  font-family: Roboto;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  margin-top: 5%;
  width: 100%;
}
.header .header__logo {
  display: flex;
  justify-content: center;
}
.header .header__image_logo {
  margin-bottom: 5%;
  width: 50vw;
}
.header .header__image {
  width: 100%;
}
.header input {
  width: 100%;
  padding: 4% 0;
  text-align: center;
  border: none;
  outline: none;
  background-color: #e7e6e6;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.137);
}
.header input:focus {
  font-size: 4vw;
  font-weight: 500;
}
.header input::placeholder {
  color: #333333;
  font-size: 4vw;
  font-weight: 500;
}

.presentation {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #ebebeb;
  width: 100%;
  height: auto;
  padding-bottom: 15%;
}
.presentation .presentation__titre_principal {
  text-align: center;
  font-size: 7vw;
  font-weight: 700;
  margin: 10% 8% 5% 8%;
}
.presentation .presentation__description {
  text-align: center;
  font-size: 5vw;
  font-weight: 300;
  color: #222222;
  margin-bottom: 8%;
}
.presentation .presentation__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 65%;
  height: auto;
  padding: 5%;
  border: none;
  outline: none;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
}
.fonctionnement .fonctionnement__titre {
  width: 92%;
  font-size: 6.5vw;
  font-weight: 600;
  margin-bottom: 10%;
  margin-top: 15%;
}
.fonctionnement .fonctionnement__btn1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  height: auto;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn1 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn1 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}
.fonctionnement .fonctionnement__btn2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  height: auto;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn2 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn2 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}
.fonctionnement .fonctionnement__btn3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5%;
  margin-bottom: 5%;
  width: 65%;
  height: auto;
  padding: 5% 12% 5% 9%;
  font-size: 4.4vw;
  font-weight: 600;
  border-radius: 1rem;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
}
.fonctionnement .fonctionnement__btn3 p {
  width: 80%;
}
.fonctionnement .fonctionnement__btn3 i {
  margin-right: 15%;
  color: rgba(0, 0, 0, 0.575);
  font-size: 5vw;
}
.fonctionnement .fonctionnement__pastille {
  position: absolute;
  width: 4%;
  height: auto;
  padding: 2%;
  padding-bottom: 1.1%;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-weight: 400;
  text-align: center;
  left: 0;
  transform: translateX(-45%);
}

.restaurants {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 10%;
  background-color: #ebebeb;
  /*Card 1 */
  /*Card 2*/
  /*Card 3*/
  /*Card 4*/
}
.restaurants .restaurants__titre {
  width: 92%;
  font-size: 6.5vw;
  font-weight: 600;
  margin-bottom: 8%;
}
.restaurants .restaurants__cards1 {
  position: relative;
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.restaurants .restaurants__cards1::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  color: #3da78c;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  background: #99E2D0;
  top: 5%;
  right: 4%;
}
.restaurants .restaurants__image1 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards1__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards1__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards1__location {
  padding-left: 3%;
}
.restaurants .restaurants__heart_full {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .menu__heart_icon {
  display: block;
  padding-left: 15%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.425);
}
.restaurants .menu__heart_icon:hover {
  opacity: 0;
}
.restaurants .menu__heart_icon:hover ~ .menu__heart_icon_full {
  animation: heart_full 0.5s;
  transform: scale(1);
}
.restaurants .menu__heart_icon_full {
  position: absolute;
  padding-left: 15%;
  background: -moz-linear-gradient(#FF79DA, #9356DC);
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  top: 0;
  transform: scale(0);
}
.restaurants .restaurants__cards2 {
  position: relative;
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.restaurants .restaurants__cards2::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Nouveau";
  color: #3da78c;
  font-size: 1.2rem;
  font-weight: 600;
  width: 100px;
  height: 35px;
  border-radius: 3px;
  background: #99E2D0;
  top: 5%;
  right: 4%;
}
.restaurants .restaurants__image2 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: 100% 60%;
}
.restaurants .restaurants__cards2__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards2__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards2__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards2__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .restaurants__cards3 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image3 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards3__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards3__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards3__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards3__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}
.restaurants .restaurants__cards4 {
  margin-bottom: 10%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px 15px 15px 15px;
  background-color: white;
}
.restaurants .restaurants__image4 {
  border-radius: 15px 15px 0 0;
  width: 90vw;
  height: 25vh;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .restaurants__cards4__caption {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 50% 50%;
  width: 90vw;
  height: 8vh;
}
.restaurants .restaurants__cards4__name {
  display: flex;
  align-items: center;
  font-weight: 600;
  padding-left: 3%;
  font-size: 1.1rem;
}
.restaurants .restaurants__cards4__location {
  padding-left: 3%;
}
.restaurants .restaurants__cards4__heart_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
  grid-row: 1/3;
  font-size: 1.5rem;
}

footer {
  background-color: #303030;
}
footer .footer__titre {
  font-size: 1.4rem;
  margin-left: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer li {
  margin-left: 5%;
  padding-bottom: 3%;
}
footer li:nth-child(4) {
  padding-bottom: 10%;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  color: white;
  padding-right: 2%;
}
footer .footer__icon_ustensils {
  padding-right: 3%;
  padding-left: 1%;
}

/*Loader spinner*/
.lds-grid {
  display: inline-block;
  position: absolute;
  position: fixed;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: opacity_lds_loader 1.5s;
}
.lds-grid ~ .main {
  animation: opacity_main_loader 1.5s;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

.header__menus {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.header__menus .header__menus_arrow {
  font-size: 1.4rem;
  color: rgba(0, 0, 0, 0.692);
}
.header__menus .header__link {
  justify-self: center;
}
.header__menus .header__menus_image_logo {
  grid-column: 2/3;
  justify-self: center;
  width: 50vw;
  margin-bottom: 5%;
}

.header__menus_image {
  width: 100%;
}

.menus {
  background-color: #ebebeb;
}
.menus .menus__titre {
  display: grid;
  align-items: center;
  grid-template-columns: 80% 20%;
  transform: translateY(-60%);
  background-color: #ebebeb;
  width: 100%;
  height: 6%;
  padding-top: 45px;
  border-radius: 35px 35px 0 0;
}
.menus .heart_full {
  position: relative;
}
.menus .menus__titre_h1 {
  font-family: Shrikhand;
  font-size: 1.8rem;
  margin-left: 5%;
}
.menus .menu__heart_icon {
  display: block;
  padding-left: 15%;
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.425);
  cursor: pointer;
}
.menus .menu__heart_icon:focus {
  opacity: 0;
}
.menus .menu__heart_icon:focus ~ .menu__heart_icon_full {
  animation: heart_full 0.5s;
  transform: scale(1);
}
.menus .menu__heart_icon_full {
  position: absolute;
  padding-left: 15%;
  background: -moz-linear-gradient(#FF79DA, #9356DC);
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  top: 0;
  transform: scale(0);
}

/*Entrée Titre*/
.entrees {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*Entrée 1*/
  /*Entrée 2*/
  /*Entrée 3*/
}
.entrees .entrees__titre {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.637);
  margin-bottom: 5%;
  text-align: start;
  width: 94%;
}
.entrees .entrees__titre::after {
  content: "";
  border-bottom: #99E2D0 3px solid;
  display: block;
  width: 45px;
  padding-bottom: 5px;
}
.entrees .entrees__entrees_1 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.7s forwards;
  animation-delay: 0.1s;
}
.entrees .entrees__entrees_1:focus .entrees__anim_price_1 {
  margin-left: 0;
  width: 100%;
}
.entrees .entrees__entrees_1:focus .entrees__price_1 {
  transform: translateX(-60px);
}
.entrees .entrees__entrees_1:focus .entrees__icon_price_1 {
  transform: scale(1);
  transform: rotate(1);
}
.entrees .entrees__nom_principal_1 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.entrees .entrees__description_1 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__price_1 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__anim_price_1 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__icon_price_1 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__entrees_2 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.2s;
}
.entrees .entrees__entrees_2:focus .entrees__anim_price_2 {
  margin-left: 0;
  width: 100%;
}
.entrees .entrees__entrees_2:focus .entrees__price_2 {
  transform: translateX(-60px);
}
.entrees .entrees__entrees_2:focus .entrees__icon_price_2 {
  transform: scale(1);
  transform: rotate(1);
}
.entrees .entrees__nom_principal_2 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.entrees .entrees__description_2 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__price_2 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__anim_price_2 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__icon_price_2 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__entrees_3 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.3s;
}
.entrees .entrees__entrees_3:focus .entrees__anim_price_3 {
  margin-left: 0;
  width: 100%;
}
.entrees .entrees__entrees_3:focus .entrees__price_3 {
  transform: translateX(-60px);
}
.entrees .entrees__entrees_3:focus .entrees__icon_price_3 {
  transform: scale(1);
  transform: rotate(1);
}
.entrees .entrees__entrees_3:focus .entrees__description_3 {
  width: 80%;
}
.entrees .entrees__nom_principal_3 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.entrees .entrees__description_3 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__price_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__anim_price_3 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__icon_price_3 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__entrees_4 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 350ms;
}
.entrees .entrees__entrees_4:focus .entrees__anim_price_4 {
  margin-left: 0;
  width: 100%;
}
.entrees .entrees__entrees_4:focus .entrees__price_3 {
  transform: translateX(-60px);
}
.entrees .entrees__entrees_4:focus .entrees__icon_price_4 {
  transform: scale(1);
  transform: rotate(1);
}
.entrees .entrees__entrees_4:focus .entrees__description_4 {
  width: 80%;
}
.entrees .entrees__nom_principal_4 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.entrees .entrees__description_4 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__price_4 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__anim_price_4 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.entrees .entrees__icon_price_4 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}

/*Plats Titre*/
.plats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*Plat 1*/
  /*Plat 2*/
  /*Plat 3*/
}
.plats .plats__titre {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.637);
  margin-bottom: 5%;
  text-align: start;
  width: 94%;
  padding-top: 15px;
}
.plats .plats__titre::after {
  content: "";
  border-bottom: #99E2D0 3px solid;
  display: block;
  width: 45px;
  padding-bottom: 5px;
}
.plats .plats__plats_1 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.4s;
}
.plats .plats__plats_1:focus .plats__anim_price_1 {
  margin-left: 0;
  width: 100%;
}
.plats .plats__plats_1:focus .plats__price_1 {
  transform: translateX(-60px);
}
.plats .plats__plats_1:focus .plats__icon_price_1 {
  transform: scale(1);
  transform: rotate(1);
}
.plats .plats__plats_1:focus .plats__description_1 {
  width: 80%;
}
.plats .plats__nom_principal_1 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.plats .plats__description_1 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__price_1 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__anim_price_1 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__icon_price_1 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__plats_2 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.5s;
}
.plats .plats__plats_2:focus .plats__anim_price_2 {
  margin-left: 0;
  width: 100%;
}
.plats .plats__plats_2:focus .plats__price_2 {
  transform: translateX(-60px);
}
.plats .plats__plats_2:focus .plats__icon_price_2 {
  transform: scale(1);
  transform: rotate(1);
}
.plats .plats__plats_2:focus .plats__description_2 {
  width: 80%;
}
.plats .plats__nom_principal_2 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.plats .plats__description_2 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__price_2 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__anim_price_2 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__icon_price_2 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__plats_3 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.6s;
}
.plats .plats__plats_3:focus .plats__anim_price_3 {
  margin-left: 0;
  width: 100%;
}
.plats .plats__plats_3:focus .plats__price_3 {
  transform: translateX(-60px);
}
.plats .plats__plats_3:focus .plats__icon_price_3 {
  transform: scale(1);
  transform: rotate(1);
}
.plats .plats__plats_3:focus .plats__description_3 {
  width: 80%;
}
.plats .plats__nom_principal_3 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.plats .plats__description_3 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__price_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__anim_price_3 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.plats .plats__icon_price_3 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}

/*Desserts Titre*/
.desserts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /*Dessert 1*/
  /*Dessert 2*/
  /*Dessert 3*/
}
.desserts .desserts__titre {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.637);
  margin-bottom: 5%;
  text-align: start;
  width: 94%;
  padding-top: 15px;
}
.desserts .desserts__titre::after {
  content: "";
  border-bottom: #99E2D0 3px solid;
  display: block;
  width: 45px;
  padding-bottom: 5px;
}
.desserts .desserts__desserts_1 {
  animation: menu_1 0.8s forwards;
  animation-delay: 0.7s;
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
}
.desserts .desserts__desserts_1:focus .desserts__anim_price_1 {
  margin-left: 0;
  width: 100%;
}
.desserts .desserts__desserts_1:focus .desserts__price_1 {
  transform: translateX(-60px);
}
.desserts .desserts__desserts_1:focus .desserts__icon_price_1 {
  transform: scale(1);
  transform: rotate(1);
}
.desserts .desserts__desserts_1:focus .desserts__description_1 {
  width: 80%;
}
.desserts .desserts__nom_principal_1 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.desserts .desserts__description_1 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__price_1 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__anim_price_1 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__icon_price_1 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__desserts_2 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.8s;
}
.desserts .desserts__desserts_2:focus .desserts__anim_price_2 {
  margin-left: 0;
  width: 100%;
}
.desserts .desserts__desserts_2:focus .desserts__price_2 {
  transform: translateX(-60px);
}
.desserts .desserts__desserts_2:focus .desserts__icon_price_2 {
  transform: scale(1);
  transform: rotate(1);
}
.desserts .desserts__desserts_2:focus .desserts__description_2 {
  width: 80%;
}
.desserts .desserts__nom_principal_2 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.desserts .desserts__description_2 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__price_2 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__anim_price_2 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__icon_price_2 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__desserts_3 {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 90%;
  box-shadow: 0px 5px 14px -4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 5%;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  opacity: 0;
  animation: menu_1 0.8s forwards;
  animation-delay: 0.9s;
}
.desserts .desserts__desserts_3:focus .desserts__anim_price_3 {
  margin-left: 0;
  width: 100%;
}
.desserts .desserts__desserts_3:focus .desserts__price_3 {
  transform: translateX(-60px);
}
.desserts .desserts__desserts_3:focus .desserts__icon_price_3 {
  transform: scale(1);
  transform: rotate(1);
}
.desserts .desserts__desserts_3:focus .desserts__description_3 {
  width: 80%;
}
.desserts .desserts__nom_principal_3 {
  padding: 15px 0 10px 10px;
  font-size: 1.1rem;
  font-weight: 600;
}
.desserts .desserts__description_3 {
  grid-row: 2/3;
  padding: 0 0 15px 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__price_3 {
  grid-column: 2/3;
  grid-row: 2/3;
  text-align: center;
  font-weight: 600;
  transform: translateX(1);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__anim_price_3 {
  grid-column: 2/3;
  grid-row: 1/3;
  height: 100%;
  width: 0;
  margin-left: 50px;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  transition: margin 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}
.desserts .desserts__icon_price_3 {
  width: 100%;
  height: 100%;
  color: white;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0) rotate(180deg);
  transition: transform 0.5s cubic-bezier(0.01, 0.39, 0.03, 0.94);
}

/*Bouton Commander*/
.bloc_btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.commander__btn {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 15rem;
  height: 3.5rem;
  border: none;
  outline: none;
  border-radius: 2rem;
  font-size: 4vw;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10% 0;
}

.header__menus--resize {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

@keyframes menu_1 {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  30% {
    transform: scale(1, 0.9);
  }
  70% {
    transform: scale(0.9, 1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes heart_full {
  0% {
    opacity: 0;
    transform: scale(0.8, 1.1);
  }
  30% {
    transform: scale(1.1, 0.8);
  }
  50% {
    transform: scale(0.8, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
@keyframes opacity_main_loader {
  0%, 99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity_lds_loader {
  0%, 99% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
